.grid {
    display: grid;
    grid-template-rows: 100px auto 100px;
    grid-template-columns: 50px auto 50px;
}

.grid2 {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 250px auto;  

}

.grid3 {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 100px auto 100px;

}

.grid_footer {
    display: grid;
    grid-template-rows: 100px;
    grid-template-columns: 300px auto;
}