.grid {
    display: grid;
    grid-template-rows: 100px auto 100px;
    grid-template-columns: 50px auto 50px;
}
.grid_footer {
    display: grid;
    grid-template-rows: 100px;
    grid-template-columns: 300px auto;
}