.row {
    display: grid;
    margin: auto;
    grid-template-rows: 60px 1fr ;
    grid-template-columns: 20% 1fr 15%;
    grid-gap: 10px;
    width: 1000px;
    height: 1000px;
    justify-items: center;
    justify-content: space-between;
    grid-template-areas:
    "header header header"
    "nav article ads"; 
   }
   
   .header{
   grid-area: header;
   }
   .nav{
   grid-area: nav;
   }
   .article{
   grid-area: article;
   }
   .ads{
   grid-area: ads;
   }
#footer { 
    clear: both;
    padding: 5px; 
   }