.row {
    display: grid;
    margin: auto;
    grid-template-rows: 60px 1fr ;
    grid-template-columns: 20% 1fr 15%;
    grid-gap: 10px;
    width: 1000px;
    height: 1000px;
    justify-items: center;
    justify-content: space-between;
    grid-template-areas:
    "header header header"
    "nav article ads"; 
   }
   
   .header{
   grid-area: header;
   }
   .nav{
   grid-area: nav;
   }
   .article{
   grid-area: article;
   }
   .ads{
   grid-area: ads;
   }
.letter {
    color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}
.parallax {
    /* The image used */
    background-image: url("img/main.gif");

    /* Set a specific height */
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}