.topnav {
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.topnav a.active {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.topnav {
    overflow: hidden;
  }
  
  .topnav a {
    font-family: Arial, Helvetica, sans-serif;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    color: black;
  }
  
  .topnav a.active {
    color: white;
  }
  
  .topnav-right {
    font-family: Arial, Helvetica, sans-serif;
    float: right;
  }
.signature {
  font-family: Arial, Helvetica, sans-serif;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}